* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:sans-serif;
}

.container {
  margin: auto;
  width: 600px;
  height: 800px;
}

.grid {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* Styling */
.item {
  background: yellow;
  text-align: left;
  padding: 20px;
  padding-top: 400px;
}

h1 {
  position: absolute;
  padding-top: 170px;
  padding-left: 20px;
  font-size: 58px;
}

.item2 {
  background: red;
  text-align: center;
  padding: 10px;
  padding-top: 400px;
  
}

.item1 {
  
  background-image: linear-gradient(to top, blue 30%, white 30%);
  opacity: 70%;
 
}

.item3 {
  background-image: linear-gradient(to top, white 30%, blue 30%);
  opacity: 70%;
}

.item4 {
  background-image: linear-gradient(to top, blue 30%, yellow 30%);
  
}

.item5 {
  background-image: linear-gradient(to top, red 30%, blue 30%);
  
}



