* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:sans-serif;
}

.container {
  margin: auto;
  width: 600px;
  height: 800px;
}

.grid {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* Styling */
.item {
  background: rgb(230, 208, 11);
  text-align: left;
  padding: 20px;
  padding-top: 400px;
}

h1 {
  position: absolute;
  padding-top: 170px;
  padding-left: 20px;
  font-size: 58px;
}

h2 {
  position: absolute;
  text-align: left;
  padding-top: 275px;
  padding-left: 20px;
  font-size: 22px;
  
}



.item2 {
  background: rgb(211, 7, 7);
  text-align: center;
  padding: 10px;
  padding-top: 400px;
  
}

.item1 {
  
  background-image: linear-gradient(to top, rgb(103, 103, 214) 30%, rgb(230, 230, 230) 30%);
  
 
}

.item3 {
  background-image: linear-gradient(to top, rgb(230, 230, 230) 30%,  rgb(103, 103, 214) 30%);
  
}

.item4 {
  background-image: linear-gradient(to top,  rgb(35, 35, 207) 30%, rgb(230, 208, 11) 30%);
  
}

.item5 {
  background-image: linear-gradient(to top, rgb(211, 7, 7) 30%,  rgb(35, 35, 207) 30%);
  
}

.right {
  position: absolute;
  padding-top: 130px;
  padding-left: 436px;
  text-align: right;
  font-size: 14px;
  line-height: 20px;
}

.left {
  position: absolute;
  padding-top: 130px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 20px;
}

